# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# TensorFlow logs
logs/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Large datasets
dataset/
data/

# Temporary files
*.tmp
